{% extends 'shop/basic.html' %} {% block title %} Blogs {% endblock %} 
{%block css%}

<style>
  body {
    margin-top: 20px;
    background: #f5f5f5;
  }
  .blog-post {
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  }

  .blog-post .blog-img .overlay,
  .blog-post .blog-img .post-meta {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .blog-post .blog-img .overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .blog-post .blog-img .post-meta {
    bottom: 5%;
    right: 5%;
    z-index: 1;
  }

  .blog-post .blog-img .post-meta .read-more:hover {
    color: #6dc77a !important;
  }

  .blog-post .content h1,
  .blog-post .content h2,
  .blog-post .content h3,
  .blog-post .content h4,
  .blog-post .content h5,
  .blog-post .content h6 {
    line-height: 1.2;
  }

  .blog-post .content .title {
    font-size: 18px;
  }

  .blog-post .content .title:hover {
    color: #6dc77a !important;
  }

  .blog-post .content .author .name:hover {
    color: #6dc77a !important;
  }

  .blog-post:hover {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }

  .blog-post:hover .blog-img .overlay {
    opacity: 0.65;
  }

  .blog-post:hover .blog-img .post-meta {
    opacity: 1;
  }

  .blog-post .post-meta .like i,
  .profile-post .like i {
    -webkit-text-stroke: 2px #dd2427;
    -webkit-text-fill-color: transparent;
  }

  .blog-post .post-meta .like:active i,
  .blog-post .post-meta .like:focus i,
  .profile-post .like:active i,
  .profile-post .like:focus i {
    -webkit-text-stroke: 0px #dd2427;
    -webkit-text-fill-color: #dd2427;
  }

  .avatar.avatar-ex-sm {
    height: 36px;
  }
  .shadow {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
  }

  .text-muted {
    color: #8492a6 !important;
  }

  .para-desc {
    max-width: 600px;
  }
  .text-muted {
    color: #8492a6 !important;
  }

  .section-title .title {
    letter-spacing: 0.5px;
    font-size: 30px;
  }
</style>
{%endblock%}
 {% block body %}
  {% load static%}

<!-- ======= Hero Slider Section ======= -->
<div class="container marketing">
  <div class="row">
      {% for blog in newest_blogs_market %}
      <div class="col-lg-4">
          <div class="card mb-4 shadow-sm">
              <img class="card-img-top rounded-circle mx-auto mt-4" src="{{ blog.thumbnail.url }}" alt="Card image cap" style="width: 140px; height: 140px;">
              <div class="card-body">
                  <h2 class="card-title text-center">{{ blog.title }}</h2>
                  <p class="card-text">{{ blog.content|truncatewords:30 }}</p>
                  <div class="text-center">
                      <a class="btn btn-secondary" href="{% url 'blog_view' blog_id=blog.pk %}" role="button">View details »</a>
                  </div>
              </div>
          </div>
      </div><!-- /.col-lg-4 -->
      {% endfor %}
  </div><!-- /.row -->
</div><!-- /.container -->




<!-- End Hero Slider Section -->

<div class="container">
  <div class="row">
    {% for blog in blogs %}
    <div class="col-lg-4 col-md-6 mt-4 pt-2 mb-8" style="margin-bottom: 20px">
      <div class="blog-post rounded border">
        <div class="blog-img d-block overflow-hidden position-relative">
          <img
            src="{{ blog.thumbnail.url }}"
            class="img-fluid rounded-top"
            alt=""
          />
          <div class="overlay rounded-top bg-dark"></div>
        </div>
        <div class="content p-3">
          <small class="text-muted p float-right"
            >{{ blog.published_date }}</small
          >
          <small
            ><a href="javascript:void(0)" class="text-primary"
              >{{ blog.category }}</a
            ></small
          >
          <h4 class="mt-2">
            <a href="/blog/{{ blog.blog_id }}/" class="text-dark title"
              >{{ blog.title }}</a
            >
          </h4>
          <p class="text-muted mt-2">{{ blog.content|truncatewords:20 }}</p>
          <div class="post-meta">
            <a href="/blog/{{ blog.blog_id }}/" class="text-dark read-more"
              >Read More <i class="mdi mdi-chevron-right"></i
            ></a>
          </div>
          <div class="pt-3 mt-3 border-top d-flex">
            <img
              src="{{ blog.author_image.url }}"
              class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow"
              width="40"
              height="40"
              alt=""
            />
            <div class="author mt-2">
              <h6 class="mb-0">
                <a href="javascript:void(0)" class="text-dark name"
                  >{{ blog.author_name }}</a
                >
              </h6>
            </div>
          </div>
        </div>
      </div>
      <!--end blog post-->
    </div>
    <!--end col-->
    {% endfor %}
  </div>
  <!--end row-->
</div>

{% endblock %} 

