{% extends 'shop/basic.html' %}

{% block title %}Products{% endblock %}

{% block body %}
{% load static %}
<section class="jumbotron text-center py-6">
  <div class="container">
      <h1 class="jumbotron-heading">Products Page</h1>
      <p class="lead text-muted mb-0">Products Page build with mcommerce</p>
  </div>
</section>
<div class="container">
  <div class="row">
      <div class="col">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Products</li>
              </ol>
          </nav>
      </div>
  </div>
</div>

 
{%endblock%}


